# Mastodon API Access Tokens für die jeweiligen Instanzen
# Format: MASTO_TOKEN_[INSTANZ_MIT_UNTERSTRICHEN]
MASTO_TOKEN_MASTODON_SOCIAL="dein_access_token_hier"
MASTO_TOKEN_MASTODON_NET="dein_zweites_access_token_hier"